body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.jumpers
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	text-align: center;
	padding: 0;
}

.jumper
{
	display: inline-block;
	width: 32%;
}

.jumper img
{
	width: 100%;
}

.jumper figure
{
	margin: 10px;
}
